
*
{
    margin:0;
    padding:0;
    outline: none;
}

#pnb1 #submit
{
    background-color: green;
    width: 50%;
}
body
{
    display: flex;
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;

    background:-webkit-linear-gradient(bottom,#0250c5,#d43f8d);
}


.container
{
    width:75.6%;
    background-color:#fff;
    text-align: center;
    border-radius: 5px;
    padding: 50px 55px 10px 55px;
}
.container header
{
    font-size: 35px;
    font-weight:600;
}

.container .form-outer
{
    width: 85%;
    margin: auto;
     overflow: hidden; 
}
.form-outer form
{
    display: flex;
    width: 400%;
}
.form-outer form .page
{
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title
{
    text-align: left;
    font-size: 25px;
    font-weight:600;
}


.form-outer form .page .field
{
    height: 45px;
    width: 330px;
    margin: 45px 0;
    display: flex;
    position: relative;
}
 
form .page .field select
{
width: 100%;
padding-left: 10px;
font-size:17px;
font-weight: 500;
}


.form-outer form .page .field .label
 {
    
    top:-30px;
   position: absolute;
   font-weight: 600;
}
.form-outer form .page .field input
 {
    height: 100%;
    width: 100%;
border: 1px solid lightgray;
border-radius: 5px;
 font-size: 18px;
 padding-left: 15px;
}

.form-outer form .page .field button
 {
     width: 100%;
     height:calc(100% + 5px);
     margin-top: -20px;
     border: none;
     background:#d43f8d;
      color: #fff;
      border-radius: 5px;
      font-size:18px;

      font-weight:500; 
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;
      transition:0.2s ease;
    }


    .form-outer form .page .field button:hover
{
    background-color: #000;
}
.form-outer form .page .btns button
{
  margin-top: -20px !important;
    width: 50%;
    margin: auto;
}
form .page .btns button.prev
{
   margin-right: 2rem;
   font-size: 17px;
}

form .page .btns button.next
{
    margin-left:3px;
}


.container .progress-bar
{

    display: flex;
    width: 100%;
    justify-content: center;
    margin:40px 0;
    margin-left:20px ;
    font-size: 10px;
}

.container .progress-bar .step
{
    position: relative;
    text-align: center;
    width: 150px;

}
 .progress-bar .step p
{
    font-size: 12px;
    font-weight: 500;
    color: #000;
    margin: 8px;
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet::after
{
display: none;
}



.progress-bar .step .bullet:before,
.progress-bar .step .bullet::after
{
    position: absolute;
    content: "";
    bottom: 11px;
    right:-120px;
    height:3px;
    width: 110px;
    background:#262626;
}
.progress-bar .step .bullet
{

    position: relative;
    height: 20px;
    width: 20px;
    border: none;
    background-color: antiquewhite;
    display: inline-block;
    border-radius: 50%;


   
}


.progress-bar .step .bullet::after
{
    background: #d43f8d;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    100%
    {
        transform: scaleX(1);
    }
}
.progress-bar .step span
{
    
    font-weight:500;
    font-size: 12px;
    line-height:20px ;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.progress-bar .step .check
{
position: absolute;
left: 50%;
top:70%;
font-size: 15px;
transform: translate(-50%, -50%);
display: none;
}

.flex
{

    display: flex;    
    padding: 0px 20px 0 0px;
    
}
.ml
{
padding-right: 10rem;   padding-left: 10rem; 

}
.ml .label
{
    width: 50%;
}

#nextbtn 
{
   margin-left: 30%;  
}

#pnb1
{
    padding-top: 40px;
    width: 100%;

}
#page1
{
 margin-right: 10%;
}

#radio11,#radio12,#radio21,#radio22,#radio31,#radio32,#radio41,#radio42,#radio51,#radio52,#radio61,#radio62,#radio71,#radio72

{
   height: 1rem;
   width: 1rem;
   margin-left: 8px;
   margin-right: 8px;
}
label
{
    font-size: 18px;
}
div
{
    width:120%;
    text-align: left;
}

.spacetop
{
    margin-top: 20px;
}

#pnb1 #submit
{
    background-color: green;
    width: 50%;
}

#submit:hover
{
    background-color: lightgreen;
}

/* 
#page-width2
{
   margin-left: -8%;
  
} */


   
/* 
@media screen and (768px -1024px){
    
} */
/* 1024px -1200px */



/* 1200px */

.required
{
padding-left:20px;
font-size:1rem;
color:red;
}
.parent
{
margin-top:20px;
}
input
{
margin-top:20px;
}

.lm
{
padding-right: 20rem;   padding-left: 4.8rem;

}
#check
{
    height: 25px;
    width: 25px;
}
.checkm
{
    color: red;
    font-size: 20px;
}